<% if user_signed_in? %>

<%= react_component("UserHomePage", { current_user: current_user.to_json}) %>

<% else %>
<header class="jumbotron text-center">
    <h1>ProsFin</h1>
    <a  href="/users/sign_in" class="btn btn-lg btn-primary">Sign in</a>
    <a  href="/users/sign_up" class="btn btn-lg btn-primary">Register</a>
</header>


<% end %>