<div id="flash-messages" class="flash-messages">
    <% flash.each do |message_type, message| %>
        <% flash_class = message_type  %>
        <% flash_class = 'info' if message_type == 'notice' %>
        <% flash_class = 'danger' if message_type == 'alert' %>
        <div class="alert alert-<%=flash_class%> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
        </div>
    <% end %>
</div>
